.btn {
	&:focus {
		box-shadow: none;
	}

	&:active {
		box-shadow: none;
	}

	&:active {
		&:focus {
			box-shadow: none;
		}
	}
}

button.btn-custom-green {
	border: none;
	background-color: $green-haze !important;

	&:focus {
		box-shadow: none;
		background-color: $green-haze !important;
	}

	&:active {
		box-shadow: none;
		background-color: $green-haze !important;
	}

	&:active {
		&:focus {
			box-shadow: none;
			background-color: $green-haze !important;
		}
	}
}

button.btn-custom-outline-charade {
    color: $charade !important;
    border: 1px solid $charade !important;
    background-color: transparent !important;

    &:hover {
		box-shadow: none;
        color: $white !important;
		background-color: $charade !important;
    }

	&:focus {
		box-shadow: none;
        color: $white !important;
		background-color: $charade !important;
	}

	&:active {
		box-shadow: none;
        color: $white !important;
		background-color: $charade !important;
	}

	&:active {
		&:focus {
			box-shadow: none;
            color: $white !important;
			background-color: $charade !important;
		}
	}
}
